<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h2>Добавить игру</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="10">
        <tr>
          <td>
            <label class="btn btn-default">
              <p></p>
              <mat-form-field >
                <mat-select placeholder="Выберите команду" [(ngModel)]="game.team1" name="game.team1" required>
                  <mat-option *ngFor="let team of teamList" [value]="team">
                    <img src="{{team.imageURL}}" class="img-icon">
                    {{team.longName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </label>
          </td>
          <td>
            <label class="btn btn-default">
              <p></p>
              <mat-form-field >
                <mat-select placeholder="Выберите команду" [(ngModel)]="game.team2" name="game.team2" required>
                  <mat-option *ngFor="let team of teamList" [value]="team">
                    <img src="{{team.imageURL}}" class="img-icon">
                    {{team.longName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </label>
          </td>
          <td>
            <button mat-mini-fab [routerLink]="['/new-team']">+</button>
          </td>
        </tr>
        <tr>
          <td>
            <img src="{{game.team1.imageURL}}" class="img-full" *ngIf="game.team1">
          </td>
          <td>
            <img src="{{game.team2.imageURL}}" class="img-full" *ngIf="game.team2">
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Выберите дату" [(ngModel)]="dateStart" name="dateStart" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="hh:mm" [(ngModel)]="timeStart" name="timeStart" type="time" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="newGame()" color="primary" align="end">Добавить</button>
    <button mat-raised-button [routerLink]="['/game-details']" color="accent">Назад</button>
  </mat-card-actions>

</mat-card>
