<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>ЧМ-2018</h1>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>

        <button mat-button [routerLink]="['/profile']">Рейтинг</button>
        <button mat-button [routerLink]="['/game-details']">Список игр</button>
        <button mat-button [routerLink]="['/rules']">Правила</button>
        <button mat-button (click)="logOut()" *ngIf="currentUser">Выйти</button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
