.page-title {
  margin: 10px;
}

.example-container {
  width: inherit;
  height: 700px;
  margin: 10px;
  border: 1px solid #555;
}

.side-nav {
  width: 20%;
  border-right: 1px solid rgba(0,0,0,.04);
}

.side-nav-content {
  margin:auto;
}

.img-icon {
  height: 10%;
  width: 10%;
  vertical-align: middle;
}

.img-full {
  margin:auto;
}

.user-table {
  width: 80%;
}

.user-table-cell {
  align: center;
}

