<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>Регистрация</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Fullname" [(ngModel)]="user.fullName" name="user.fullName" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="user.username" name="user.username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="user.password" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Confirm password" [(ngModel)]="confirmPassword" type="password" name="confirmPassword" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" color="primary">Ок</button>
    <button mat-raised-button [routerLink]="['/login']" color="accent">Отмена</button>
  </mat-card-actions>

</mat-card>





